<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @service.name %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @service.desc %>
</p>

<p>
  <strong>Text:</strong>
  <%= @service.text %>
</p>

<p>
  <strong>Image:</strong>
  <%= @service.image %>
</p>

<p>
  <strong>Main:</strong>
  <%= @service.main %>
</p>

<p>
  <strong>Locale:</strong>
  <%= @service.locale %>
</p>

<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
