<p id="notice"><%= notice %></p>

<h1>Pagenames</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pagenames.each do |pagename| %>
      <tr>
        <td><%= pagename.name %></td>
        <td><%= link_to 'Show', pagename %></td>
        <td><%= link_to 'Edit', edit_pagename_path(pagename) %></td>
        <td><%= link_to 'Destroy', pagename, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pagename', new_pagename_path %>
