<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @partner.name %>
</p>

<p>
  <strong>Logo:</strong>
  <%= @partner.logo %>
</p>

<p>
  <strong>Url:</strong>
  <%= @partner.url %>
</p>

<%= link_to 'Edit', edit_partner_path(@partner) %> |
<%= link_to 'Back', partners_path %>
