<%= form_for(page) do |f| %>
  <% if page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :desc %>
    <%= f.text_field :desc %>
  </div>

  <div class="field">
    <%= f.label :text %>
    <%= f.text_area :text %>
  </div>

  <div class="field">
  <% cities_array = Pagename.all.map { |city| [city.name, city.id] } %>
    <%= select_tag(:pagename_id,options_for_select(cities_array),{include_blank: "Select something"}) %>
  </div>

  <div class="field">
    <%= f.label :locale_code %>
    <%= f.text_field :locale_code %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
