<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @about.name %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @about.desc %>
</p>

<p>
  <strong>Text:</strong>
  <%= @about.text %>
</p>

<p>
  <strong>Categ:</strong>
  <%= @about.categ %>
</p>

<p>
  <strong>Locale:</strong>
  <%= @about.locale %>
</p>

<%= link_to 'Edit', edit_about_path(@about) %> |
<%= link_to 'Back', abouts_path %>
